/* some style */

html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg path, circle, text {
  user-select: none;
}
